# Q-4- check whether the defective %  varies by centre in      TeleCall uses 4 centers. Please analyze the data at 5% significance level and help the manager draw appropriate inferences

In [ ]:
import pandas as pd
import scipy as sp
from scipy.stats import chi2_contingency

In [2]:
#import the data
data = pd.read_csv("C:/Users/0004IW744/Desktop/Python/Assignments/3.Hypothesis Testing/Costomer+OrderForm.csv")

In [3]:
data.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

# step-1
Null hypothesis is defective % not varies by centre in TeleCall 4 centers

# Step-2

Alpha = 0.05

# Step- 3

Comparing between Error Free,Defective i.e two independent qualitative variables.. So going with Chi Sqaure test
So convert them to Contingency table first

In [9]:
#Storing the count data of each column in variable c1 , c2, c3, c4

c1 , c2, c3, c4 = data.Phillippines.value_counts() , data.Indonesia.value_counts(), data.Malta.value_counts(), data.India.value_counts()

In [22]:
print('Phillippines\n',c1)
print('Indonesia\n',c2)
print('Malta\n',c3)
print('India\n',c4)

Phillippines
 Error Free    271
Defective      29
Name: Phillippines, dtype: int64
Indonesia
 Error Free    267
Defective      33
Name: Indonesia, dtype: int64
Malta
 Error Free    269
Defective      31
Name: Malta, dtype: int64
India
 Error Free    280
Defective      20
Name: India, dtype: int64

In [25]:
#Chi-square test,forming the contingency table by above results

chi_stats = sp.stats.chi2_contingency([[271,267,269,280],[29,33,31,20]])
chi_stats

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

In [27]:
#p value
chi_stats[1]

0.2771020991233135

# Hence, P-value is greater than the alpha value, P-High Null Hypothesis High