# Q_3 Sales of products in four different regions is tabulated for males and females.
Find if male-female buyer rations are similar across regions

In [ ]:
import pandas as pd
from scipy import stats
from scipy.stats import chi2_contingency

In [2]:
#import the data
data = pd.read_csv("C:/Users/0004IW744/Desktop/Python/Assignments/3.Hypothesis Testing/BuyerRatio.csv")

In [3]:
data

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [5]:
#Droping the unwanted columns
data1 = data.drop(['Observed Values'],axis = 1)

# Step-1
male-female buyer rations are similar across regions is a Null(H0) hypothesis

# Step-2
alpha = 0.05

# Step-3
independent Variables to considering the Chi Square test

In [6]:
value = chi2_contingency(data1)

In [7]:
#output(chi stat value, p-Value, dof(degrees of freedom), expected value)
value

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

# Hence, p-value is greater than the alpha value.p high null hypothesis fly